<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<table cellpadding="5">
						<thead>
							<tr>
								<th>Contact</th>
							</tr>
						</thead>
						<tbody>
							<tr data-aos="flip-up" data-aos-duration="500" data-aos-delay="1000">
								<th>Phone Number</th>
								<th>:</th>
								<td>+9197294-78477, +9170153-32581</td>
							</tr>
							<tr data-aos="flip-up" data-aos-duration="500" data-aos-delay="1500">
								<th>Email</th>
								<th>:</th>
								<td>support@softfuel.in</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6">
					<table cellpadding="5">
						<thead>
							<tr>
								<th>Developers</th>
							</tr>
						</thead>
						<tbody>
							<tr class="developer-info">
								<th data-aos="flip-up" data-aos-duration="500" data-aos-delay="500">
									<a href="https://github.com/piyushKumar-1" target="blank" class="fa fa-github fa-3x">
									</a>
									<br>
									<code>Piyush Kumar</code>
								</th>
								<th data-aos="flip-up" data-aos-duration="500" data-aos-delay="1000">
									<a href="https://github.com/KushagarGoel" target="blank" class="fa fa-github fa-3x"></a>
									<br>
									<code>Kushagar Goel</code>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>	
	<div class="copyright">
		<div class="container">
			<small>2020 © All rights reserved.</small>
		</div>
	</div>
</footer>