{% extends "base.html" %}


{% block content %}



<div class="container m-auto h-100">
	<div class="mt-100 ml-auto mr-auto w-max">
	    <form class="card shadow p-5" method="POST" action="">{% csrf_token %}
	    	<table cellpadding="15">
	    		<tbody>
	    			<tr>
	    				<td class="accounts">{{form.username}}</td>
	    			</tr>
	    			<tr>
	    				<td class="accounts">{{form.email}}</td>
	    			</tr>
	    			<tr>
	    				<td class="accounts">{{form.password1}}</td>
	    			</tr>
	    			<tr>
	    				<td class="accounts" placeholder="hdaskjhk">{{form.password2}}</td>
	    			</tr>
	    		</tbody>
	    	</table>
	        <button type="submit" class="btn btn-login mt-3 mb-4">{% if btn %}{{btn}}{% else %}Submit{% endif %}</button>
		    <i>Already have an account <a href="{% url 'auth_login' %}">login</a></i>
	    </form>
	</div>
</div>

<div class="container-fluid run">
	<div class="row">
		<div class="line-4-sty">
		</div>
		<div class="line-2-sty">
		</div>
	</div>
</div>



{% endblock %}