{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-carousel h-100vh"  data-flickity='{ "selectedAttraction": 0.01,
"friction": 0.15, "cellAlign": "left", "prevNextButtons": false , "autoPlay": true, "wrapAround": true, "pageDots": false }'>
  	<div class="carousel-cell bg-white h-100">
		<div class="container-fluid h-100">
			<div class="bg-body-match row h-100">
				<div class="col-sm-8 flex">
					<div class="p-5 m-auto">
						<div class="m-auto text-center">
							<h3 class="tag-1">Cool Website for Cool Machine Learners and Teachers Out there.........:)</h3>
						</div>
						<div class="mt-5 mb-4 flex text-center">
							<div class="tada m-auto">
								<div class="t1"></div>	
								<div class="t2"></div>	
								<div class="t1"></div>	
								<div class="t2"></div>	
								<div class="t1"></div>	
								<div class="t2"></div>	
							</div>
							<img class="m-auto" src="{% static 'data-server.svg' %}" width="200px" height="100px">
							<div class="tada m-auto">
								<div class="t2"></div>	
								<div class="t1"></div>	
								<div class="t2"></div>	
								<div class="t1"></div>	
								<div class="t2"></div>	
								<div class="t1"></div>	
							</div>
						</div>
					</div>
				</div>
				<div class="bg-body col-sm-4 h-100 flex">
					<div class="m-auto text-center p-5">
						<h2 class="tag-2">Jokes apart, this is a serious website where you can get any(and by any I actually mean ANY) dataset that you have always desired for.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>	




	<div class="carousel-cell bg-white h-100">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="flex bg-body col-sm-8 h-100">
					<div class="m-auto text-center">
						<h5 class="tag-1">Browser Datasets</h5>
						<a href="/datasets" class="btn btn-dark">Browse</a><br>
						<small style="color:white;" class="">Never limit your ML projects because you can't find a dataset again.</small>
					</div>
				</div>
				<div class="bg-white flex col-sm-4 h-100">
					<div class="m-auto bg-nural">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="carousel-cell bg-white h-100">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="bg-white flex col-sm-8 h-100">
					<div class="m-auto bg-nural bg-nural2">
						<div class="mt-5 text-center" style="transform:rotate(180deg)">
							<h5 class="tag-1" style="color:black;">Contribute to Datasets</h5>
							<a href="/upload" class="btn btn-dark">Contribute</a><br>
							<small class="">Saw Interesting dataset and you wish to contribute and earn Respect in community? Then what stops you....Go Ahead</small>
						</div>
					</div>
				</div>
				<div class="bg-body flex col-sm-4 h-100">
					<img class="img-fluid m-auto" src="{% static 'contribute.webp' %}" width="80%">
				</div>
			</div>
		</div>
	</div>
	<div class="carousel-cell bg-white h-100">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="bg-body flex col-sm-8 h-100">
					<div class="m-auto">
						<div class="mt-5 text-center">
							<h5 class="tag-1 white">Create New Datasets</h5>
							<a href="/create" class="btn btn-dark">Create</a><br>
							<small class="white">Have an idea, but can find datasets create your own and see it growing with the community support of like minded people.</small>
						</div>
					</div>
				</div>
				<div class="bg-body-match flex col-sm-4 h-100">
					<img class="img-fluid m-auto" src="{% static 'programmers.webp' %}" width="80%">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section1">
	<div class="container">
		<div class="row">
			<div class="col-md-8 p-5 m-auto">
				<div class="problem-explanation text-center">
					<p>Have a very unique idea but when you try that out you can't find the related data online, or have a great idea but don't know where to start or how to start, or want someone else to do some machine learning based on your requirements??</p>
				</div>
			</div>
			<div class="col-md-4 p-5 m-auto">
				<div class="problem-ans text-center">
					<h3>At <span class="company"></span> we have got all these points covered</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section2">
	<div class="container">
		<div class="row" data-aos="fade-up">
			<h3>What you will find Here?</h3>
		</div><br>
		<div class="row" data-aos="fade-up" data-aos-delay="500">
			<div class="contri-explained">
				<p>These days AI/ML is into everyfield of the life, either its business, science, medical or in professional works for predictions about variouos aspects and the limit is only ones imagination. We at <span class="company"></span> provide you opportunity to do things mentioned below:</p>
				<ul>
					<li>
						<h6>Search Dataset according to your requirement.</h6>
					</li>
					<li>
						<h6>Get Dataset based on classified categories i.e. medical, science, dailylife etc. </h6>
					</li>
					<li>
						<h6>Connect with people having greater experience.</h6>
					</li>
					<li>
						<h6>Get real and trusted data from around the world for your Topis by posting new Dataset post.</h6>
					</li>
					<li>
						<h6>Become a Data Provider at <span class="company"></span>.</h6>
					</li>
					<li>
						<h6>Ask our smart system to predict a suitable algorithm for your datasets(extremely helpful for beginers and available only at <span class="company"></span>).</h6>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section3">
	<div class="container">
		<div class="row" data-aos="fade-in">
			<h3>Benefits Of Contributions?</h3>
		</div><br>
		<div class="row" data-aos="fade-in" data-aos-delay="500">
			<div class="contri-explained">
				<p>In this world we all work to make our lives as well as others life better, and with the growth of technology our lives have changed manyfolds. Machine learning have a lot of potential and what it needs is data, that we people are generating everyday and in tons of GBs, give it in the right hands and help in the advancements of the future technologies.</p>
				<ul>
					<li>
						<h6>Better data for everyone</h6>
					</li>
					<li>
						<h6>Your Profile gets stonger as <span class="company"></span> Data Provider</h6>
					</li>
					<li>
						<h6>More Contributions Better data for everyone</h6>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="section2">
	<div class="container">
		<div class="row mt-5">
			<div class="m-auto" data-aos="fade-up">
				<h3>Some Popular Libraries</h3>
			</div>
		</div>
		<div class="row pt-5 pb-4" data-aos="fade-up" data-aos-delay="500">
			<div class="m-auto">
				<a href="https://www.tensorflow.org" target="blank"><img class="img-fluid" src="{% static 'Tensorflow_logo.png' %}" width="100"></a>
			</div>
			<div class="m-auto">
				<a href="https://keras.io" target="blank"><img class="img-fluid" src="{% static 'keras.png' %}" width="100"></a>
			</div>
			<div class="m-auto">
				<a href="https://pytorch.org" target="blank"><img class="img-fluid" src="{% static 'pytourch.png' %}" width="100"></a>
			</div>
			<div class="m-auto">
				<a href="https://opencv.org" target="blank"><img class="img-fluid" src="{% static 'opencv.png' %}" width="100"></a>
			</div>
			<div class="m-auto">
				<a href="https://scikit-learn.org/stable/" target="blank"><img class="img-fluid" src="{% static 'scikit.png' %}" width="100"></a>
			</div>
		</div>
	</div>
</div>



<script>
   var company = '<span style="color:#ff8d27">Soft</span><span style="color:#3e3b3b;">Fuel</span>';
   var k = document.getElementsByClassName('company')
   for(let i=0;i<k.length;i++){
   	k[i].innerHTML = company;
   }
</script>
{% endblock %}

