{% extends 'base.html' %}
<div class="container">

{% block addcss %}
<style>
.heading{
     font-size: 50px;
    font-family: 'Arvo';

}
.cate{
    color: #6c757d;
}
.comment{
    border-width: 1px;
    border-color: #fe8d26;
    border-style: solid;
    border-radius: 5px;
    background: #d0701e14;
    margin: 10px;
}
.text{
margin:10px;

}

#id_comment_desc{
border-radius:10px !important;
max-height:200px;
}

</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="heading">
            {{obj.title}}
        </div>
        <hr>
        <div class="cate">
            Categories :
            {% for cat in  obj.category_selected.all %}
            {{cat.category_name}},
            {% endfor %}
            <br>
            {{obj.username}}
        </div>
        <hr>
        <div>
            {{obj.article_data|safe}}
        </div>
        <hr>
        <div class="row">
          <div class="col">Write Comments</div>
          <div class="col-9">
            <form method="POST" action="">{% csrf_token %}
              <div class="w-100">
                {{form.comment_desc}}
              </div>
              <br>
              <button type="submit" class="btn btn-success">Add Comment</button>
            </form>
          </div>
        </div>
        {% for obj in obj_com  %}
            <div class="comment">
                <div class="text">
                    <font size="1px"> {{obj.username}} </font>
                    <br>
                    {{obj.comment_desc}}
                </div>
            </div>
        {% endfor %}
    </div>
  <script type="text/javascript">
    document.getElementById("id_comment_desc").classList.add("w-100")
  </script>

</div>
{% endblock %}

